* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(48, 120, 198, 0.406);
}


.btn{
    font-family: monospace;
    font-weight: 400;
    font-size: 15px;
    background-color:blue;
    color: white;
    padding: 10px;
    margin-left: 30px;
    border-radius: 20px;
    cursor:pointer;
}

.OPEXheading{
    padding-bottom: 2px;
    color: brown;
}

#OPEXamt{
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    outline-style: none;
    border-radius: 50px;
    
    
}

#OPEXamt:hover{
    cursor: pointer;
    background-color: rgb(78, 74, 139);
}
.maincontainer {
    
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 50px 50px;
    min-width: 400px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(200, 146, 146, 0.3);
    box-shadow: 5px 5px rgba(75, 69, 160, 0.915)
    

}

.Dist_heading{
    padding-bottom: 20px;
    color: brown;
}

.distribution{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 50px;
    min-width: 400px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(200, 146, 146, 0.3);
    box-shadow: 5px 5px rgba(75, 69, 160, 0.915)

}

.Categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inputnumbers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.paras{
    margin-bottom: 10px;
    font-size: 20px;

}

input, select{  
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;


}
/* managing input toolbar  */

.inputexpenses{
    margin: 20px 50px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(200, 146, 146, 0.3);
    box-shadow: 5px 5px rgba(75, 69, 160, 0.915); 


}   

.selection, .dateinput, .inputvalue, .inputbillnum {
    font-size: 20px;
    padding: 5px;
    margin: 2px 5px;
    cursor: pointer;

}

 
/* managing table for putting expeses in rows  */

.lastContainer{
    display: flex;
    
}

#tablehead{
    background-color: rgba(200, 146, 146, 0.3);
    height: 300px;
    width: 93%; 
    overflow: auto;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
        
}

#table{
    width: inherit;
}

tr{
    margin-bottom: 5px;
}

th{
    background-color: ghostwhite;
    color: rgb(197, 65, 17);
    text-align: center;
    height: 40px;
}
td{
    text-align: center;
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
}

::placeholder, input{
    text-align: center;
}

td.salariesnWages{
    background-color: rgb(136, 98, 171);    
}

td.trans{
    background-color: rgb(110, 171, 98);    
}

td.uti{
    background-color: rgb(77, 172, 172);    
}

td.ren{
    background-color: rgb(177, 200, 95);    
}

td.mns{
    background-color: rgb(148, 74, 125);    
}

td.mnr{
    background-color: rgb(147, 61, 71);    
}

/* managing summary  */

.summary{
    background-color: rgba(46, 18, 147, 0.3);
    height: 350px;
    width: 70%; 
    margin: 10px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
    
    
}

.summaryline{
    color: green;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.summaryBlocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.summaryCategories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.summaryTotal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.summaryBalance{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.summaryitems{
    margin-bottom: 15px;
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    margin-right: 5px;

}